.van-tabbar--fixed{
	top: 0;
	bottom: auto;
}
@media screen and (min-width: 750px) { /*超过750，就设置font-size为75px。意思就是我们最大的font-size为75px，也以为这屏幕最大为750px，因为屏幕再变大，界面不跟着变了（我们设置的body宽度为10rem）*/
    html {
        font-size: 100px !important;
    }
}
	
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #333;
}
body{
	max-width: 75em;
	margin: 0 auto !important;
	background-color: #f2f2f2;
}
@import './input.scss';

img.max{
	max-width: 100%;
}
.tcenter{
	text-align: center;
}
.tright{
	text-align: right;
}
.user-panel{
	border-radius: 8px;
	margin: 12px;
	overflow: hidden;
}
.user-panel-bg{
	border-radius: 8px;
	margin: 12px;
	overflow: hidden;
	padding: 20px;
	background-color: #fff;
}
.van-doc-demo-block__title {
    margin: 0;
    padding: 32px 0 16px;
    color: rgba(69, 90, 100, 0.6);
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.red{
	color: orangered;
}
.fab-btn{
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #1989fa;
	line-height: 45px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.fab-btn-wx{
	bottom: 44px;
	background-color: #07C160;
}
.fab-copyright{
	background-color: #fff;
	bottom: 88px;
	color: #1989fa;
	padding: 10px 0;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	p{
		padding: 0;
		margin: 0;
	}
}
.re-title{
	font-weight: 600;
	color: #1989fa;
	font-size: 14px;
	margin-bottom: 12px;
}
.fab-tips{
	position: fixed;
	bottom: 200px;
	right: 12px;
	background-color: #1989fa;
	line-height: 35px;
	width: 35px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.padding-head{
	// margin-top: 55px;
}
.tabbar-height{
	height: 58px;
}