
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}
body{
	max-width: 75em;
	margin: 0 auto !important;
	background-color: #f2f2f2;
}
@import './input.scss';

img.max{
	max-width: 100%;
}
.tcenter{
	text-align: center;
}

.user-panel{
	border-radius: 8px;
	margin: 12px;
	overflow: hidden;
}