.van-form{
	.van-cell{
		padding: 10px 30px !important;
		line-height: 40px !important;
	}
	.van-field__left-icon .van-icon{
		font-size: 20px !important;
		color: #999;
	}
	.van-field__control{
		font-size: 15px;
		margin-left: 10px;
	}
}
.van-button{
	padding: 0 20px !important;
	font-size: 15px !important;
	height: 50px !important;
	line-height: 50px !important;
}
.van-button.van-button--small{
	font-size: 12px !important;
	padding: 5px;
	height: 30px !important;
	line-height: 30px !important;
}